$color-foreground: #02f694;
$color-background: #311e6d;
$color-3: #c2b9ee;
$color-white: #fff;
$color-border: #594a9d;

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  color: $color-foreground;
  text-decoration: none;

  &:hover {
    color: $color-white;
  }
}

svg {
  display: block;
}

:root {
  --color-foreground: $color-foreground;
  --color-background: $color-background;
  --color-white: $color-white;

  font-family: 'Barlow', sans-serif;
  color: $color-foreground;
  background-color: $color-background;
  box-sizing: border-box;

  *::-webkit-scrollbar {
      width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, .2);
    border-radius: 1rem;
    padding: .1em;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
}

body {
}

.no-bullet {
  list-style-type: none;
}

.workspace {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > .main {
    flex-grow: 1;
  }
}

.buyTicket {
  margin-left: auto;
  fill: $color-foreground;

  &:hover {
    .overlay {
      fill-opacity: 0.2;
    }
  }

  &:active {
    .overlay {
      fill-opacity: 1;
    }

    .dash,
    .text {
      fill: $color-background;
    }
  }

  @media (max-width: 650px) {
    svg {
      width: 130px;
      height: 40px;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 24px;

  > * {
    z-index: 1;
  }

  .callForLink {
    display: none;
    padding: 4px 20px 6px;

    & + .callForLink {
      border-left: 2px solid $color-border;
    }

    @media (min-width: 650px) {
      display: block;
    }
  }
}

.burger {
  cursor: pointer;
  margin-right: 50px;

  @media (max-width: 650px) {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.burgerNav {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  overflow: auto;
  text-align: center;
  background-color: rgba(#000, .3);
  box-shadow: 0 -140px rgba(#000, .3);

  #toggle-burger:checked ~ .nav > & {
    display: block;
  }

  @media (min-width: 650px) {
    padding-left: unset;
    padding-right: unset;
    grid-template: 100px auto 18vh / 1fr 3px 1fr;
    font-size: 48px;

    #toggle-burger:checked ~ .nav > & {
      display: grid;
    }

    > * {
      max-height: 100%;
      overflow: auto;
    }
  }

}

.burgerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
}

.burgerNav__logo {
  grid-column: 1 / -1;
  align-self: start;

  @media (max-width: 650px) {
    display: none;
  }

  svg {
    display: block;
    width: 90px;
    height: 50px;
    pointer-events: none;
  }
}

.burgerDivider {
  border: none;
  width: 100%;
  height: 3px;
  background-color: $color-border;
  border-radius: 1rem;

  @media (min-width: 650px) {
    height: 100%;
  }
}

.navSponsors {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10vh;
}

.navLinks,
.navSponsors {
  @media (min-width: 650px) {
    padding: 3vh 9vw;
  }
}

.navSponsors__title {
  position: sticky;
  top: 0;
  font-size: .5em;
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 3px 3px $color-background;
  display: none;

  @media (min-width: 650px) {
    display: block;
  }
}

.navLinks {
  letter-spacing: 2.5px;

  > li {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: 650px) {
    width: min-content;
    letter-spacing: 4px;

    > li {
      margin-bottom: 5vh;
    }
  }
}

.navLink {
  color: $color-3;
  text-transform: uppercase;

  &.is-current {
    color: $color-foreground;
    font-weight: 600;
  }
}

.fbLink {
  display: block;
  grid-column: 1 / -1;
  width: 36px;
  height: 36px;
  margin: 80px auto;

  @media (min-width: 650px) {
    order: 1;
    margin-top: unset;
    margin-bottom: 3vh;
  }

  &:hover {
    color: $color-3;
  }

  svg {
    display: block;
    fill: currentColor;
  }
}

#toggle-burger:checked {
  & ~ .main,
  & ~ .footer {
    filter: blur(20px);
  }
}
