footer.footer
  time.footerTime(dateTime="2018-07-14 09:00")
    .month 14 JUL
    .year 2018

  .location
    .location__zh 張榮發國際會議中心
    .location__en Evergreen International Convention Center

  .sponsor
